{% extends "base.html" %}
{% import "auth/wtf.html" as wtf %}

{% block title %}Kirjaudu sisään - TaloHuolto{% endblock %}

{% block page_content %}
<section class="tips-container">
  <div class="page-header">
      <h1>Kirjaudu sisään</h1>
      <p>Taloyhtiön työkalu järjestelmälliseen kunnossapitoon.</p>
  </div>


  
    <div class="section">
        <div class="row">
            <div class="col col-form-image">
                <!-- Esittelykuva -->
                <img src="{{ url_for('static', filename='img/kirjaudu.jpg') }}" alt="Huoltokirja ja kunnossapito" width="100%" height="auto">
            </div>
            <div class="col">
              <div class="lomake">
              <!-- {{ wtf.quick_form(form,novalidate=True,extra_classes='needs-validation') }}-->
              <form method="POST">
                {{ form.hidden_tag() }}
        
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class="form-control") }}
                </div>
        
                <div class="form-group">
                    {{ form.password.label }}
                    <div class="password-wrapper">
                        {{ form.password() }}
                        <i id="toggle-password" class="fas fa-eye"></i> <!-- Silmäkuvake -->
                    </div>
                </div>
        
                <!--div class="form-check">
                    {{ form.remember_me() }}
                    {{ form.remember_me.label }}
                </div-->
        
                <div>
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>

            </div>
                <p>Unohditko salasanan? <a href="{{ url_for('auth.password_reset_request') }}">Klikkaa tästä nollataksesi sen</a>.</p>
                <p>Eikö sinulla ole vielä TaloHuolto tunnusta? <a href="{{ url_for('auth.register') }}">Rekisteröidy täällä</a>.</p>                
            </div>
        </div>
    </div>  
  
  
</section>
{% endblock %}


{% block extra_script %}<script src="{{ url_for('static', filename='login.js') }}"></script>{% endblock %}