{% extends "base.html" %}
{% import "auth/wtf.html" as wtf %}

{% block title %}Vaihda salasana - TaloHuolto{% endblock %}

{% block page_content %}
<section class="tips-container">
  <div class="page-header">
      <h1>Vaihda salasana</h1>
      <p>Kirjoita sähköpostiosoitteesi, jota käytit TaloHuolto tunnuksen rekisteröitymiseen. Lähetämme sinulle turvallisen linkin salasanan vaihtoa varten.</p>
  </div>


  
    <div class="section">
        <div class="row">
            <div class="col">
                <!-- Esittelykuva -->
                <img src="{{ url_for('static', filename='img/password.jpg') }}" alt="Huoltokirja ja kunnossapito" width="100%" height="auto">
            </div>
            <div class="col">
              <div class="lomake">
              {{ wtf.quick_form(form,novalidate=True,extra_classes='needs-validation') }}
              </div>
              <p>Jos tarvitset vielä apua, ota yhteyttä <a href="{{ url_for('main.contact') }}">asiakaspalveluun</a>.</p>   
            </div>
        </div>
    </div>  
  
  
</section>
{% endblock %}