{% extends "base_dashboard.html" %}
{% block title %}Vastike - Hallintapaneeli - TaloHuolto{% endblock %}
{% block dashboard_content %}
  <div class="container">
    <h1>Vastikemaksut</h1>
    <section>
      <h2>Vastiketyypit</h2>
      <ul>
        <li><strong>Hoitovastike:</strong> 200 €/kk</li>
        <li><strong>Pääomavastike:</strong> 50 €/kk</li>
        <li><strong>Vesivastike:</strong> 30 €/kk</li>
      </ul>
    </section>

    <section>
      <h2>Tiedotteet</h2>
      <p>Muistutamme, että hoitovastike nousee 10 % 1. huhtikuuta alkaen.</p>
    </section>

    <section>
      <h2>Vastikearvioinnit</h2>
      <p>Seuraavat suurimmat kustannukset arvioidaan vuodelle 2025: Taloyhtiön putkiremontti, arviolta 500 000 €.</p>
    </section>

    <section>
      <h2>Talousraportit</h2>
      <p>Tässä on linkki viimeiseen taloussuunnitelmaan ja budjettiin:</p>
      <p>(Tulossa)</p>
      <!--a href="#">Katso budjetti</a-->
    </section>
  </div>
{% endblock %}
