{% extends "base.html" %}

{% block title %}Huoltokirja ja tehtävät - Dashboard{% endblock %}
{% block extra_style %}<link rel="stylesheet" href="{{ url_for('static', filename=extra_style) }}">{% endblock %}

{% block content %}
<div class="dashboard-container">
    <aside class="sidebar" id="dashboardSidebar">
        {% include "dashboard_nav.html" %}
    </aside>
    <!-- Dashboardin sisältö -->

    <section class="dashboard-content" id="dashboardContent">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        {% block dashboard_content %}
        {% endblock %}
    </section>
    
</div>
{% endblock %}


{% block extra_script %}<script src="{{ url_for('static', filename='dashboard.js') }}"></script>{% endblock %}