<!-- Dashboardin vasemman puolen navigaatio -->
<button class="aside-toggler" id="asideToggler"><i class="fa-solid fa-angles-left" aria-hidden="true"></i></button>
<ul class="nav flex-column" id="navbarDashboard" aria-label="Dashboardin navigaatio">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.user') }}">
      {% if current_user.is_authenticated %} 
         {# Check if the user is authenticated #}

         {% if current_user.is_administrator() %}
            <i class="fa fa-user-astronaut"></i>
         {% else %}
            <i class="fa fa-laugh-wink"></i>
         {% endif %}
         <span class="nav-username nav-text">{{ current_user.username }}</span>

      {% else %}
              <i class="fa-solid fa-face-frown" title="You are not logged in."></i>
              <span class="nav-username nav-text">TH Admin</span>
      {% endif %}
    </a>
  </li>
  <li class="nav-item nav-item-divider">
    <a class="nav-link" href="{{ url_for('main.dashboard') }}">
      <i class="fa fa-chart-line"></i>
      <span class="nav-text">Hallintapaneeli</span>
    </a>
  </li>
  {% if current_user.is_administrator() %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.manage_residents') }}">
      <i class="fa fa-users"></i>
      <span class="nav-text">Asukkaiden hallinta</span>
    </a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.manage_tasks') }}">
      <i class="fa fa-tools"></i>
      <span class="nav-text">Huoltokirja ja tehtävät</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.manage_faultreport') }}">
      <i class="fa fa-exclamation-triangle"></i>
      <span class="nav-text">Vikailmoitukset</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.manage_calendar') }}">
      <i class="fa fa-calendar-alt"></i>
      <span class="nav-text">Huoltokalenteri</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.housing_company') }}">
      <i class="fa fa-building"></i>
      <span class="nav-text">Taloyhtiön tiedot</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.manage_energy') }}">
      <i class="fa fa-bolt"></i>
      <span class="nav-text">Energiatehokkuus</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.manage_documents') }}">
      <i class="fa fa-file-alt"></i>
      <span class="nav-text">Raportit ja dokumentit</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.manage_talkoot') }}">
      <i class="fa fa-hands-helping"></i>
      <span class="nav-text">Talkoot</span>
    </a>
  </li>
  {% if current_user.is_administrator() %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.manage_talkoot_hallinta') }}">
      <i class="fa fa-hands-helping"></i>
      <span class="nav-text">Talkoiden hallinta</span>
    </a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.manage_notifications') }}">
      <i class="fa fa-bullhorn"></i>
      <span class="nav-text">Tiedotteet</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.manage_fees') }}">
      <i class="fa fa-euro"></i>
      <span class="nav-text">Vastikemaksut</span>
    </a>
  </li>
</ul>