{% extends "base.html" %}

{% block title %}Käyttöehdot - TaloHuolto{% endblock %}

{% block content %}
<section class="tips-container">


    <div class="container">
        <div class="page-header">
            <h1>Käyttöehdot</h1>
            <h2>1. Johdanto</h2>

            <p>Nämä käyttöehdot määrittelevät TaloHuolto-sovelluksen käyttöehdot ja -säännöt, joita sovelletaan, kun käytät TaloHuolto-palvelua. Käyttämällä sovellusta hyväksyt nämä ehdot. Jos et hyväksy näitä ehtoja, älä käytä sovellusta.</p>

            <h2>2. Sovelluksen käyttö</h2>

            <p>TaloHuolto-sovelluksen käyttö on sallittua vain laillisiin tarkoituksiin ja siten, että et riko paikallisia, kansallisia tai kansainvälisiä lakeja. Et saa käyttää sovellusta mihinkään haitalliseen, laittomaan tai häiritsevään toimintaan.</p>

            <h2>3. Käyttäjätiedot ja tilit</h2>

            <p>Rekisteröityessäsi TaloHuoltoon sinun tulee antaa tarkkoja ja ajantasaisia tietoja. Olet vastuussa omien tilitietojesi suojaamisesta. Käyttäjätunnuksesi ja salasanasi ovat henkilökohtaisia, eikä niitä tule jakaa kolmansille osapuolille.</p>

            <h2>4. Yksityisyys ja tietosuoja</h2>

            <p>TaloHuolto-sovellus käsittelee käyttäjätietoja sovellettavien tietosuojalakien mukaan. Meidän tietosuojakäytäntömme määrittelee, miten käsittelemme käyttäjien tietoja. Käyttämällä sovellusta hyväksyt tietosuojakäytännön.</p>

            <h2>5. Palvelun saatavuus</h2>

            <p>TaloHuolto-sovellus pyrkii tarjoamaan keskeytymätöntä palvelua, mutta emme takaa, että sovellus on aina saatavilla ilman teknisiä ongelmia. Emme ole vastuussa mahdollisista palvelun keskeytyksistä tai häiriöistä.</p>

            <h2>6. Vastuu ja rajoitukset</h2>

            <p>Sovelluksen tarjoamat tiedot ja toiminnot ovat käytettävissä sellaisinaan, eikä TaloHuolto anna takeita sovelluksen virheettömyydestä, luotettavuudesta tai täydellisyydestä. Emme ole vastuussa suorista, epäsuorista, satunnaisista tai seurauksellisista vahingoista, jotka voivat syntyä sovelluksen käytöstä.</p>

            <h2>7. Muutokset käyttöehdoissa</h2>

            <p>TaloHuolto pidättää oikeuden muuttaa näitä käyttöehtoja milloin tahansa. Kaikki muutokset astuvat voimaan heti, kun ne on julkaistu sovelluksessa. Käyttämällä sovellusta muutosten jälkeen hyväksyt päivitetyt käyttöehdot.</p>

            <h2>8. Yhteystiedot</h2>

            <p>Jos sinulla on kysyttävää näistä käyttöehdoista tai tarvitset lisätietoja, ota yhteyttä asiakaspalveluumme osoitteeseen [sähköpostiosoite].</p>
        </div>
    </div>
</section>
{% endblock %}