{% extends "base.html" %}

{% block title %}Vinkit - TaloHuolto{% endblock %}

{% block content %}
<section class="tips-container">
    <h1>Vinkkejä pienen taloyhtiön ylläpitoon</h1>
    <p>Täältä löydät hyödyllisiä resursseja, asiantuntijoita ja vinkkejä taloyhtiöiden ylläpitoon liittyen.</p>
    
    <!-- Ajankohtaista -osio (yleistä taloyhtiöiden ja kiinteistöhallinnan ajankohtaisista asioista) -->
    <div class="section">
        <h2>Ajankohtaista</h2>
        <ul>
            <li><strong>15.11.2024:</strong> Kiinteistöliiton uusi ohjeistus energiatehokkuuden parantamisesta taloyhtiöissä julkaistu. Lue lisää <a href="https://www.kiinteistoliitto.fi" target="_blank"  class="external_link">täältä</a>.</li>
            <li><strong>10.11.2024:</strong> Uudet määräykset huoltokirjan ylläpidosta voimaan 1.1.2025 alkaen. Muista päivittää huoltokirjasi ajantasalle!</li>
            <li><strong>08.11.2024:</strong> Taloyhtiöiden hallituksen kevätkokoukset alkavat helmikuussa. Muistathan ilmoittaa päivämäärän ajoissa!</li>
            <li><strong>05.11.2024:</strong> Kiinteistöveron korotukset ensi vuoden budjetissa. Lue lisää hallituksen päätöksistä <a href="https://www.kiinteistoliitto.fi" target="_blank"  class="external_link">täältä</a>.</li>
        </ul>
    </div>


    <div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
      <div class="col">
        <div class="card text-dark bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">Taloyhtiön talousvinkit</h5>
            <p class="card-text">Taloyhtiöiden talous on tärkeä osa ylläpidon onnistumista. Tässä muutamia vinkkejä talouden hallintaan:</p>
            <ul>
                <li><strong>Energiansäästö:</strong> Säästät energiaa ja kustannuksia optimoimalla lämmitysjärjestelmän ja valaistuksen.</li>
                <li><strong>Yhteiset hankinnat:</strong> Yhteisten hankintojen tekeminen voi tuoda merkittäviä säästöjä, kuten siivouspalvelu tai vakuutukset.</li>
                <li><strong>Budjetointi:</strong> Varmista, että taloyhtiöllä on realistinen budjetti, joka kattaa huolto- ja kunnossapitokulut.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-success text-dark bg-light mb-3">
          <div class="card-body text-success">
            <h5 class="card-title">Ympäristöystävällinen taloyhtiö</h5>
            <p class="card-text">Taloyhtiön ympäristöjalanjäljen pienentäminen on paitsi tärkeää myös usein kustannustehokasta. Tässä muutamia vinkkejä:</p>
            <ul>
                <li><strong>Kierrätys:</strong> Varmista, että taloyhtiössä on erilliset keräysastiat paperille, biojätteelle, lasille ja muoville.</li>
                <li><strong>Vihreät katot:</strong> Vihreä katto voi parantaa ilmanlaatua ja vähentää lämmityskustannuksia.</li>
                <li><strong>Energiatehokkuus:</strong> Käytä LED-valoja ja säädä lämmitysjärjestelmä tehokkaaksi energiansäästön maksimoimiseksi.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-dark bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">Huoltokirjan tarkistus</h5>
            <p class="card-text">Huoltokirja on tärkeä työkalu taloyhtiön ylläpidon hallinnassa. Huoltokirjan tarkistus ja päivitys ovat tärkeitä tehtäviä, jotka pitäisi suorittaa säännöllisesti:</p>
            <ul>
                <li><strong>Vuosittainen tarkistus:</strong> Käy läpi huoltokirjan merkinnät ja varmista, että kaikki tehtävät ja huoltohistoria on kirjattu oikein.</li>
                <li><strong>Päivitys:</strong> Lisää kaikki uudet huoltotehtävät ja suoritetut työt huoltokirjaan reaaliajassa.</li>
                <li><strong>Oikeellisuus:</strong> Varmista, että huoltokirjan tiedot ovat oikeellisia ja ajantasaisia, erityisesti jos muutoksia on tapahtunut esimerkiksi isännöitsijässä tai huoltopalveluissa.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-dark bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">Huoltotehtävien aikarajoista</h5>
            <p class="card-text">Oikea aikaraja huoltotehtävien suorittamiselle auttaa varmistamaan, että taloyhtiön ylläpito toimii sujuvasti:</p>
            <ul>
                <li><strong>Puhdistus ja huolto:</strong> Kiinteistönhoitaja tulisi tarkistaa ilmastointikanavat ja lämmitysjärjestelmät vähintään kerran vuodessa.</li>
                <li><strong>Turvallisuus:</strong> Tarkista palovaroittimet ja palosammuttimet säännöllisesti, vähintään kahdesti vuodessa.</li>
                <li><strong>Piha ja ulkotilat:</strong> Talon piha tulee tarkistaa useammin keväällä ja syksyllä, erityisesti ennen talven tuloa.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="section">
        <h2>Päivitetyt lainsäädäntömuutokset</h2>
        <p>Taloyhtiöiden tulee pysyä ajan tasalla lainsäädännön ja määräysten suhteen. Tässä muutama ajankohtainen muutos:</p>
        <ul>
            <li><strong>Uusi huoltokirjalaki:</strong> Lainmuutokset vaativat taloyhtiöitä pitämään huoltokirjan ajantasalla ja dokumentoimaan kaikki huolto- ja korjaustyöt.</li>
            <li><strong>Ympäristötavoitteet:</strong> Uudet ympäristötavoitteet vaativat taloyhtiöitä parantamaan energiatehokkuutta ja vähentämään hiilidioksidipäästöjä.</li>
            <li><strong>Asunto-osakeyhtiölaki:</strong> Päivitetyt säännökset taloyhtiön hallinnon ja yhtiökokouksen toiminnasta.</li>
        </ul>
    </div>

      <!-- Vinkkejä huoltotilanteisiin -->
      <div class="section">
        <h2>Vinkkejä huoltotilanteisiin</h2>
        <ul>
            <li><strong>Säännöllinen tarkastus:</strong> Tarkista vesikalusteet, lämmitysjärjestelmät ja ilmanvaihto vähintään kerran vuodessa.</li>
            <li><strong>Huoltosopimukset:</strong> Solmi huoltosopimus luotettavan palveluntarjoajan kanssa rutiinihuoltojen helpottamiseksi.</li>
            <li><strong>Talkoot:</strong> Järjestä säännöllisiä talkoita pihan ja yhteisten tilojen kunnossapitoon.</li>
            <li><strong>Energiatehokkuus:</strong> Varmista, että valaistus ja lämmitys ovat optimaalisesti säädettyjä säästöjen maksimoimiseksi.</li>
        </ul>
    </div>

    <!-- Vuodenaikojen huoltotehtävät -->
    <div class="section">
        <h2>Vuodenaikojen huoltotehtävät</h2>
        <label for="season-select">Valitse vuodenaika:</label>
        <select id="season-select" onchange="showSeasonTasks()">
            <option value="talvi">Talvi</option>
            <option value="kevat">Kevät</option>
            <option value="kesa">Kesä</option>
            <option value="syksy">Syksy</option>
        </select>

        <!-- Talvi -->
        <div id="talvi" class="season-tasks">
              <h3>Talven huoltotehtävät</h3>
              <img src="{{ url_for('static', filename='img/talvi.jpg') }}" alt="Huoltokirja ja kunnossapito" width="20%" height="auto" class="seasons-img">
            <ul>
                <li><strong>Lämmitysjärjestelmän tarkistus:</strong> Varmista, että lämmitysjärjestelmä toimii tehokkaasti talven aikana. Tarkista patterit, termostaatit ja putkistot.</li>
                <li><strong>Putkistojen jäätymisen estäminen:</strong> Tarkista putkistot ja eristä ne tarvittaessa, jotta ne eivät jäädy kylmällä säällä.</li>
                <li><strong>Ilmanvaihtokanavien puhdistus:</strong> Puhdista ilmanvaihtokanavat ja vaihda suodattimet. Hyvä ilmanvaihto on erityisen tärkeää talvella.</li>
                <li><strong>Lehtien ja roskien poisto pihoilta:</strong> Poista talven aikana pihoille kertyneet lehdet ja roskat, jotta sadevesijärjestelmät eivät tukkeudu ja piha-alueet pysyvät turvallisina.</li>
                <li><strong>Lumityöt ja kalusteet:</strong> Varmista, että lumityökoneet ja varusteet ovat kunnossa talvea varten. Huolla myös piha-alueen ulkokalusteet ja suojaa ne kylmiltä säiltä.</li>
                <li><strong>Energiatehokkuuden tarkistus:</strong> Seuraa taloyhtiön energiatehokkuutta ja säädä lämmitysjärjestelmää tarvittaessa talven aikana.</li>
            </ul>                       
        </div>

        <!-- Kevät -->
        <div id="kevat" class="season-tasks">
            <h3>Kevään huoltotehtävät</h3>
            <img src="{{ url_for('static', filename='img/kevat.jpg') }}" alt="Huoltokirja ja kunnossapito" width="20%" height="auto" class="seasons-img">
            <ul>
                <li><strong>Vesikaton tarkistus ja huolto:</strong> Tarkista katto kevään tulon myötä, erityisesti talven aikana mahdollisesti syntyneet vauriot. Puhdista kattopinnat roskista ja tarkista, että vesikourut ja rännit ovat esteettömiä.</li>
                <li><strong>Pihojen ja ulkotilojen siivous:</strong> Kevään tullen siivoa piha-alueet, poista talven aikana kertyneet roskat ja tee tarvittavat siivoustoimenpiteet ulkotiloissa.</li>
                <li><strong>Rakennuksen ulkomaalaus ja kunnostus:</strong> Tarkista ulkoverhouksen kunto ja suorita tarvittavat huoltotoimenpiteet, kuten maalaus ja suojaus, erityisesti puupinnoille.</li>
                <li><strong>Vesikalusteet ja vesiputket:</strong> Tarkista vesikalusteet ja putket mahdollisten vuodenaikojen vaihtelun aiheuttamien vaurioiden varalta, erityisesti pakkasen jäljiltä.</li>
                <li><strong>Sadevesijärjestelmän puhdistus:</strong> Puhdista ja tarkista sadevesijärjestelmät talven jäljiltä. Varmista, että sadevesikaivot ja rännit toimivat kunnolla ennen kevään rankkasateita.</li>
                <li><strong>Lämmitysjärjestelmän valmistelu seuraavaa talvea varten:</strong> Varmista, että lämmitysjärjestelmä on kunnossa ja huollettu, jotta se on valmis seuraavaan talveen.</li>
            </ul>                      
        </div>
        
        <!-- Kesä -->
        <div id="kesa" class="season-tasks">
            <h3>Kesän huoltotehtävät</h3>
            <img src="{{ url_for('static', filename='img/kesa.jpg') }}" alt="Huoltokirja ja kunnossapito" width="20%" height="auto" class="seasons-img">
            <ul>
                <li><strong>Viheralueiden hoito ja kastelu:</strong> Varmista, että piha-alueet saavat riittävästi vettä ja hoitoa kesän aikana, erityisesti kasvit ja nurmikko. Leikkaa nurmikko ja huolla kukkapenkit säännöllisesti.</li>
                <li><strong>Ilmastointilaitteen huolto:</strong> Tarkista ilmastointilaitteet ennen kuumia kesäpäiviä. Puhdista suodattimet ja varmista, että ilmanvaihto toimii tehokkaasti.</li>
                <li><strong>Valaistuksen tarkistus ja kunnossapito:</strong> Tarkista pihan ja rakennuksen ulkovalaistus. Vaihda rikkoutuneet lamput ja varmista, että valaistus toimii moitteettomasti.</li>
                <li><strong>Ilmanvaihdon tarkastus:</strong> Kesäisin ilmanvaihto on erityisen tärkeää, jotta sisäilma pysyy raikkaana. Puhdista ilmanvaihtokanavat ja tarkista ilmanvaihtokoneet.</li>
                <li><strong>Pihan ja ulkokalusteiden huolto:</strong> Varmista, että piha ja ulkokalusteet ovat kunnossa kesän käyttöä varten. Tarkista terassit, kalusteet ja muut ulkoverhoilut mahdollisten vaurioiden varalta.</li>
            </ul>            
        </div>

        <!-- Syksy -->
        <div id="syksy" class="season-tasks">
            <h3>Syksyn huoltotehtävät</h3>
            <img src="{{ url_for('static', filename='img/syksy.jpg') }}" alt="Huoltokirja ja kunnossapito" width="20%" height="auto" class="seasons-img">
            <ul>
                <li><strong>Pihateiden ja kulkuväylien tarkistus:</strong> Tarkista pihateiden ja kulkuväylien kunto ennen talven tuloa. Korjaa mahdolliset vauriot ja varmista, että pinnat ovat esteettömiä ja turvallisia talvella.</li>
                <li><strong>Lehtien keräys ja roskien poisto:</strong> Poista syksyllä kertyneet lehdet ja roskat pihoilta ja kulkuväylistä, jotta sadevesijärjestelmät eivät tukkeudu.</li>
                <li><strong>Ilmastointikanavien puhdistus ennen talvea:</strong> Puhdista ilmanvaihtokanavat, vaihda suodattimet ja varmista, että ilmanvaihto toimii tehokkaasti talven aikana.</li>
                <li><strong>Tarkista lämmitysjärjestelmä ja käynnistä se ennen kylmiä säitä:</strong> Varmista, että lämmitysjärjestelmä on kunnossa ja valmis kylmiä säitä varten. Tarkista patterit, termostaatit ja mahdolliset vuodot.</li>
                <li><strong>Varmista, että katot ja rännit ovat puhtaat syksyn lehdistä:</strong> Puhdista katot ja rännit syksyn lehdistä ja roskista, jotta vesi pääsee virtaamaan esteettömästi ja ei aiheuta vaurioita talvella.</li>
                <li><strong>Valmista piha talvea varten:</strong> Leikkaa puita ja pensaita, huolla pihan kalusteet ja varaa tarvittavat talvikalusteet sekä huoltovälineet talven varalle.</li>
            </ul>            
        </div>
    </div>

    
    <!-- Hyödyllisiä sivustoja -->
    <div class="section">
      <h2>Hyödyllisiä sivustoja</h2>


      <!--div class="card-group">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Kiinteistöliitto</h5>
              <p class="card-text">Taloyhtiöiden lakineuvonta ja hallinto.</p>
            </div>
            <div class="card-footer">
              <a href="https://www.kiinteistoliitto.fi" class="card-link external_link">Siirry palveluun</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Motiva</h5>
              <p class="card-text">Energiatehokkuus ja ympäristöystävälliset ratkaisut.</p>
            </div>
            <div class="card-footer">
              <a href="https://www.motiva.fi" class="card-link external_link">Siirry palveluun</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Omataloyhtiö</h5>
              <p class="card-text">Tietoa ja neuvoja taloyhtiössä asuville ja toimintaan sidoksissa oleville henkilöille.</p>
            </div>
            <div class="card-footer">
              <a href="https://www.omataloyhtio.fi" class="card-link external_link">Siirry palveluun</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Omakotiliitto</h5>
              <p class="card-text">Pientalo- ja vapaa-ajan asukkaiden tuki, turva ja puolestapuhuja.</p>
            </div>
            <div class="card-footer">
              <a href="https://www.omakotiliitto.fi" class="card-link external_link">Siirry palveluun</a>
            </div>
          </div>
        </div-->
      
      
      <ul>
          <li><a href="https://www.kiinteistoliitto.fi" target="_blank" class="external_link">Kiinteistöliitto</a> – Taloyhtiöiden lakineuvonta ja hallinto.</li>
          <li><a href="https://www.motiva.fi" target="_blank" class="external_link">Motiva</a> – Energiatehokkuus ja ympäristöystävälliset ratkaisut.</li>
          <li><a href="https://www.omataloyhtio.fi" target="_blank" class="external_link">Omataloyhtiö.fi</a> – Tietoa ja neuvoja taloyhtiössä asuville ja toimintaan sidoksissa oleville henkilöille.</li>
          <li><a href="https://www.omakotiliitto.fi" target="_blank" class="external_link">Omakotiliitto</a> – Pientalo- ja vapaa-ajan asukkaiden tuki, turva ja puolestapuhuja.</li>
      </ul>
  </div>

  <!-- Asiantuntijat ja palveluntarjoajat -->
  <div class="section">
      <h2>Asiantuntijat ja palveluntarjoajat</h2>
      <ul>
          <li>**Rakennuspalvelu Oy** – Rakentaminen ja remontointi.</li>
          <li>**EkoKiinteistö** – Ekologiset kiinteistöhuoltopalvelut.</li>
          <li>**Energiakonsultointi** – Energiatehokkuuden asiantuntija.</li>
      </ul>
      <p>Ota yhteyttä näihin yrityksiin, jos tarvitset apua huolto- tai kunnossapitotehtävissä.</p>
  </div>


</section>
<!-- Linkitetään erillinen JavaScript-tiedosto Flaskin static-hakemistosta -->
<script src="{{ url_for('static', filename='tips.js') }}"></script>

{% endblock %}
